<!doctype html>
{% load staticfiles %}
<html ng-app="tasks">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{% static "tasks.js" %}"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'tasks.css' %}">
    <title>Tasks demo</title>
  </head>
  <body ng-controller="TasksCtrl">
  <div class="container">
    {% verbatim %}

    <h1>Tasks
      <span class="loading-indicator" ng-show="loading"></span>
    </h1>

    <div class="btn-group">
      <button type="button" 
        class="btn btn-default"
        ng-click="openEditor(0)">
        New</button>
      <button type="button" 
        class="btn btn-default"
        ng-click="openEditor(selected_task_id)"
        ng-disabled="! is_selected_task_in_loaded_tasks()">
        Edit</button>
      <button type="button"
        class="btn btn-default"
        ng-click="delete(selected_task_id)"
        ng-disabled="! is_selected_task_in_loaded_tasks()">
        Delete</button>
    </div>

    <table class="table" id="tasks-table">
      <thead>
        <tr class="sortable-columns">
          <th ng-repeat="th in table_headers" ng-class="table_column_class(th[0], th[2])" ng-click="changeSorting(th[0])">{{th[1]}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in tasks" ng-dblclick="openEditor(task.id)" ng-class="{active: selected_task_id == task.id}" ng-click="selectTask(task.id)">
          <td>{{ task.id }}</td>
          <td class="description-cell">{{ task.description }}</td>
          <td>{{ task.date_start|datetime }}</td>
        </tr>
      </tbody>
    </table>

    <ul class="pagination">
      <li ng-click="selectPageRelative(-1)"><a href="#">&laquo;</a></li>
      <li
        ng-repeat="p in pages()" 
        ng-class="{active: p == page}"
        ng-click="selectPage(p)">
          <a href="#">{{ p }}</a>
      </li>
      <li ng-click="selectPageRelative(1)"><a href="#">&raquo;</a></li>
    </ul>

    <div class="modal fade" id="editor-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
              <span ng-show="edited.id">Edit task #{{ edited.id }}</span>
              <span ng-hide="edited.id">New task</span>
            </h4>
          </div>
          <div class="modal-body">

            <form name="form">
              <div class="form-group" ng-class="{'has-error': form.description.$invalid}">
                <label for="form-description" class="control-label">Description</label>
                <textarea class="form-control" rows="3" ng-model="edited.description" required name="description" id="form-description" ng-disable="edited.saving"></textarea>
              </div>
              <div class="form-group" ng-class="{'has-error': form.date_start.$invalid}">
                <label for="form-datestart" class="control-label">Start date</label>
                <div class="input-group">
                  <input name="date_start" ng-model="edited.date_start" datetime required id="form-datestart" class="form-control" ng-disable="edited.saving">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="setDateNow()" title="Reset date and time to current date and time">Now</button>
                  </span>
                </div>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    {% endverbatim %}
  </div>
  </body>
</html>